<%= render "flash" %>
<div class="col-sm-8 col-sm-offset-2">
  <h1>
    Edit Announcement
    <span class="pull-right">
      <% if policy(@announcement).destroy? %>
        <%= link_to "Disable", @announcement, class: "btn btn-danger", method: :delete, data: { :confirm => "Are you sure you'd like to disable announcement \""+@announcement.subject+"\"?" } %>
      <% end %>
    </span>
  </h1>

  <%= render "form" %>
</div>
