<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:
    <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
