<div class="jumbotron">
  <h1>Announcements</h1>
  <!-- <p>An application that serves data regarding the climbing routes available at the indoor climbing center at Oregon State University.</p> -->
  <% @announcements.each do |a| %>
    <h3>
      <%= a.subject %><br>
      <small><%= a.reveal_date.strftime("%b %d, %Y") %></small>
    </h3>
    <p>
    <%= a.body %>
    </p>
    <br>
  <% end %>
</div>
