<div className="row">
  <div className="container">
    <div className="col-lg-8 col-md-8 col-xs-12">
      <div className="page-header">
        <h1>
          {
            (this.state.user_level >= 4 || this.state.user_id === this.state.edit_id) ?
              'Edit Profile' : 'View Profile'
          }
          <br />
          <small>{this.state.edit_email}</small>
        </h1>
      </div>
      <table className="table">
        <tr>
          <th>
            Email
          </th>
          <td>
            {
              (this.state.user_level >= 4 || this.state.user_id === this.state.edit_id) ?
                <input type="text" name="edit_user_email" className="form-control" value={this.state.edit_email} onChange={this.handleChange} /> :
                (this.state.edit_email)
            }
          </td>
        </tr>
      </table>
    </div>
  </div>
  <UserChangePassword />
  <UserAssignedRoutes />
</div>
