<div class="row">
  <div class=".col-lg-3 .col-lg-offset-3 .col-md-3 .col-md-offset-3 .col-sm-3 .col-sm-offset-3">
    <h1>Profiles <span style="color:#337ab7"><i id="loading_users_spinner" class="fa fa-spinner fa-pulse"></i></span>
      <br><small>Click on the view link next to the person's name to view the route in more detail.</small></h1>
    <hr/>
  </div>
</div>
<%= react_component('UserBox') %>

<script type="text/javascript">
  // Put an 'active' class on the right page that they're on
  $("#users_pagination").on('click', 'li', function(e) {
    e.preventDefault();
    $("#users_pagination").find('li').each(function() {
      $(this).removeClass('active');
    });
    $(this).addClass('active');
  });
</script>
