<style>
dl.inline dd {
  display: inline;
  margin: 0;
}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}
</style>

<p>Hello <%= @user.name %>,</p>

<p>You've been assigned the following route:</p>

<dl class="inline">
  <dt>Location</dt>
  <dd><%= @route.location %></dd>
  <dt>Grade</dt>
  <dd><%= @route.grade %></dd>
</dl>

<p>
You can view or complete this assignment in the <%= link_to "Assigned Routes Report", admin_assigned_routes_path %>.
If you find any problems with this assignment or believe it to be a mistake, please contact a supervisor at the gym.
</p>
