@import "bootstrap-sprockets";
@import "bootstrap";

@import "user";
@import "route";
@import "maintenance_request";
@import "rating";

.navbar {
  border-radius: 0;
}

.navbar-brand img {
  height: 24px;
  width: 24px;
  display: inline-block;
}

.table__row {
}

.table__row:hover {
  cursor: pointer;
  background-color: #f6f7f7;
}
