@import "bootstrap-sprockets";
@import "bootstrap";

@import "user";
@import "route";
@import "maintenance_request";
@import "rating";

/* Home Page Carousel */
header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 1200px;
    height: 500px;
    // width: 100%;
    // height: 100%;
    background-position: center;
    background-size: cover;
}
/* Home Page Carousel */

.navbar {
  border-radius: 0;
}

.navbar-brand img {
  height: 24px;
  width: 24px;
  display: inline-block;
}

.table__row:hover {
  cursor: pointer;
  background-color: #f6f7f7;
}

.header {
  color: #337ab7 !important;
}

.header-sort-up {
  border-bottom: 2px solid #337ab7 !important;
}

.header-sort-down {
  border-bottom: 2px solid #337ab7 !important;
}

.header-sort-up:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  margin-right: -10px;
  margin-bottom: 2px;
  margin-left: 5px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid;
}

.header-sort-down:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  margin-right: -10px;
  margin-bottom: 2px;
  margin-left: 5px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid;
}
