// Place all the styles related to the rating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.br-theme-bootstrap-stars .br-widget {
  height: 28px;
  // white-space: nowrap;
}
.br-theme-bootstrap-stars .br-widget a {
  font: normal normal normal 18px/1 'Glyphicons Halflings';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-bootstrap-stars .br-widget a:after {
  content: '\e006';
  color: #dddddd;
}
.br-theme-bootstrap-stars .br-widget a.br-active:after {
  color: #ffdf88;
}
.br-theme-bootstrap-stars .br-widget a.br-selected:after {
  color: #ffdf88;
}
.br-theme-bootstrap-stars .br-widget .br-current-rating {
  display: none;
}
@media print {
  .br-theme-bootstrap-stars .br-widget a:after {
    content: '\e007';
    color: black;
  }
  .br-theme-bootstrap-stars .br-widget a.br-active:after,
  .br-theme-bootstrap-stars .br-widget a.br-selected:after {
    content: '\e006';
    color: black;
  }
}
